@import '~antd/dist/antd.less';

.header {
    display: flex;
    align-items: center;
}

.header-logo-text{
    font-size: 1.1rem;
}

.ant-menu {
    padding: 1.5rem 0;
}

.ant-menu-item {
    margin: 1.5rem;
    padding: 0.35rem 1.25rem;
    border-radius: 8px;
    white-space: pre-line;
}

.ant-menu-item:hover {
    background-color: #FAFAFA;
}

.ant-menu-item-selected {
    color: #F01A37;
}

.ant-menu-vertical > .ant-menu-item {
    height: auto;
    line-height: 1.5rem;
    padding: 0.35rem 1.25rem;

}